@import url(../style.css);

.cabecalho {
    display: flex;
    justify-content: flex-end;
}

/* Estilo básico para o botão do dropdown */
.dropbtn {
    background-color: #000000;
    color: rgb(234, 255, 0);
    padding: 1rem 2rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para o container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o conteúdo do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 12.8rem;
    box-shadow: 0px 8px 16px 0px rgba(255, 253, 253, 0.2);
    z-index: 1;
}

.dropdown, .dropdown-content {
    font-family: var(--font--principal);
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mudar a cor dos links ao passar o mouse */
.dropdown-content a:hover {background-color: #ff0000}

/* Mostrar o dropdown quando o botão é clicado */
.show {
    display: block;
}